# MongoDB 连接
MONGODB_URI=mongodb://127.0.0.1:27017/myapi

# JWT密钥
JWT_SECRET=your_jwt_secret_here

# 服务器端口
PORT=3000

# 应用程序基础URL
BASE_URL=http://localhost:3000

# GitHub Webhook密钥
GITHUB_WEBHOOK_SECRET=your_webhook_secret_here

# 阿里云OSS配置
OSS_ACCESS_KEY_ID=OSS_ACCESS_KEY_ID
OSS_ACCESS_KEY_SECRET=OSS_ACCESS_KEY_SECRET
OSS_REGION=OSS_REGION
OSS_BUCKET=OSS_BUCKET
OSS_CUSTOM_DOMAIN=OSS_CUSTOM_DOMAIN

# 高德地图配置
AMAP_KEY=your_gaode_key_here